@font-face {
	font-family: 'Cooper Black';
	src: url('../../assets/fonts/Cooper_Black.ttf') format('truetype');
}

@font-face {
	font-family: 'Cooper Black Italic';
	src: url('../../assets/fonts/Cooper_Black_Italic.ttf') format('truetype');
}
