@import 'normalize';

$breakpoint-xs: 375px;
$breakpoint-sm: 545px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1200px;

@keyframes fadeIn {
	0% {
		display: none;
		opacity: 0;
	}
	1% {
		display: flex;
		opacity: 0;
	}
	100% {
		opacity: 0.9;
	}
}

html {
	height: 100%;
}

* {
  box-sizing: border-box;
}

a {
	color: black;
	cursor: pointer;
	text-decoration: none;
}

p {
	margin-top: 0;
}

body {
	background: rgb(241, 219, 217);
	font-family: 'mr-eaves-modern', sans-serif;
	font-weight: 300;
	height: 100%;
	overscroll-behavior: none;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

tr {
	vertical-align: top;
}

::-webkit-scrollbar {
	display: none;
}

.hide {
	display: none;
	opacity: 0;
	animation: fadeIn 1s ease;
}

.show {
	display: flex;
	opacity: 0.9;
	animation: fadeIn 1s ease;
}

.nav {
	background: #FFFAF0;
	border: 3px solid gold;
	border-radius: 2px;
	box-sizing: border-box;
	font-size: 0.85em;
	justify-content: center;
	left: 20px;
	letter-spacing: 0.1em;
	padding: 30px 30px 0 30px;
	position: fixed;
  min-width: 200px;
  text-transform: uppercase;
  transform: translateY(50px);
  z-index: 2;

  &-list {
  	width: 100%;

	  &-item {
	  	cursor: pointer;
	  	display: flex;
			font-size: 1.5em;
			justify-content: space-between;
	  	margin-bottom: 30px;

	  	&:hover {
	  		font-style: italic;
	  	}
	  }
  }
}

.map-item {
	cursor: pointer;
	font-size: 1.5em;
	position: absolute;
}

#home {
	position: absolute;
	left: 0;
	top: 0;
}

#listen {
	left: 2400px;
  top: 1800px;
}

#watch {
	top: 1000px;
  left: 1500px;
}

#press {
	top: 2000px;
  left: 400px;
}

#person {
	left: 4000px;
  top: 700px;
}

#about {
  left: 4400px;
  top: 2800px;
}

#ardis {
	top: 1600px;
  left: 1600px;
}

#veritas-in-terra {
	background: blue;
	cursor: pointer;
	height: 40px;
	left: 2100px;
	position: absolute;
	top: 1400px;
	width: 40px;
}

.main-outer {
	align-items: center;
	display: flex;
	height: 100%;
  justify-content: center;
  width: 100%;
}

.title {
	cursor: pointer;
	position: fixed;
	top: 20px;

  img {
  	width: 225px;
  }
}

.grid-outer {
	display: grid;
	height: 3680px;
	position: absolute;
	width: 5280px;
	grid-template-columns: repeat(30, [col] 1fr);
  grid-template-rows: repeat(30, [col] 1fr);
}

.item {
	cursor: pointer;
}

.map {
	/*border: 5px groove rosybrown;*/
	position: absolute;
	z-index: -5;
	top: -600px;
	left: -400px;

	&-outer {
		display: flex;
		flex-direction: column;
/*		justify-content: center;
		align-items: center;*/
		position: absolute;
		width: 100;
		z-index: -5;
	}
}

#compass {
	bottom: 20px;
	cursor: pointer;
	left: 20px;
	position: fixed;
  width: 100px;
  z-index: 3;
}

#item-1 {
	grid-column: 3;
	grid-row: 6;
	height: 30px;
	width: 30px;
	background: red;
}

#item-2 {
	grid-column: 6;
  grid-row: 25;
	height: 30px;
	width: 30px;
	background: yellow;
}

#item-3 {
	grid-column: 20;
	grid-row: 10;
	height: 30px;
	width: 30px;
	background: blue;
}

.img-main {
	size: cover;
	width: 100%;
	position: fixed;
	filter: hue-rotate(220deg) brightness(180%) contrast(100%);
}

.volume {
	align-items: center;
	bottom: 20px;
	cursor: pointer;
	display: flex;
	font-size: 1.25em;
	font-weight: 600;
	height: 100px;
	justify-content: center;
	position: fixed;
	right: 20px;
	width: 100px;
	z-index: 3;
	background: -webkit-linear-gradient(left, #DB7093, slateblue, #DB7093, coral, slateblue, coral, #DB7093, slateblue, #DB7093);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.view {
	border-radius: 5px;
	height: 98.5%;
	width: 99%;

	&-outer {
		background: #f8f8ff;
		height: 98.5%;
	  position: fixed;
	  width: 99%;
	  z-index: 2;
	}

	&-inner {
		overflow: auto;
		padding: 100px 150px;
		width: 100%;
	}

	&-close {
		cursor: pointer;
		font-size: 1.5em;
    margin: 15px;
    position: absolute;
    right: 0;
	}

	&-content {
		font-size: 1.2em;
    letter-spacing: 0.015em;
    line-height: 1.4em;

    &--about {
    	a {
				background: -webkit-linear-gradient(left, #DB7093, slateblue, #DB7093, coral, slateblue, coral, #DB7093, slateblue, #DB7093);
			  -webkit-background-clip: text;
			  -webkit-text-fill-color: transparent;
			  font-family: mr-eaves-sans, sans-serif;
			  font-weight: 500;

				&:hover {
					font-style: italic;
					letter-spacing: 0.03em;
					text-decoration: none;
				}
			}
    }

    &--press {
    	a {
    		color: black;
    		font-family: mr-eaves-sans, sans-serif;
    		font-style: italic;
				letter-spacing: 0.03em;
				text-decoration: none;

    		&:hover {
					text-decoration: underline;
				}
    	}
    }

    &--dates {
    	a {
    		color: black;
    		font-family: mr-eaves-sans, sans-serif;
    		font-style: italic;
				letter-spacing: 0.03em;
				text-decoration: none;

    		&:hover {
					text-decoration: underline;
				}
    	}
    }
	}
}

.dates {
	&-list {
		margin-bottom: 50px;
	}

	&-year {
		margin-bottom: 10px;
		text-decoration: underline;
	}

	&-date {
		margin-right: 60px;
	}
}


.watch {
	&-list {
		display: flex;
    flex-direction: column;
    align-items: center;

    &-item {
    	margin-bottom: 50px;
    }
	}
}

