@import 'normalize';

$breakpoint-xs: 375px;
$breakpoint-sm: 545px;
$breakpoint-md: 770px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1200px;

@keyframes fadeIn {
	0% {
		display: none;
		opacity: 0;
	}
	1% {
		display: flex;
		opacity: 0;
	}
	100% {
		opacity: 0.75;
	}
}

@keyframes fadeOut {
	0% {
		display: flex;
		opacity: 0.9;
	}
	75% {
		opacity: 0;
	}
	100% {
		display: none;
	}
}

html {
	height: 100%;
}

* {
  box-sizing: border-box;
}

a {
	color: #60000e;
	cursor: pointer;
	text-decoration: none;
}

p {
	margin-top: 0;
}

body {
	color: #60000e;
	font-family: 'mr-eaves-sans', sans-serif;
	height: 100%;
	overscroll-behavior: none;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

tr {
	vertical-align: top;
}

::-webkit-scrollbar {
	display: none;
}

h2 {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.12em;
  font-family: 'jaf-herb', serif;
}

.special {
	font-family: jaf-herb, serif;
	letter-spacing: 0.08em;
  margin-right: 2px;
  text-transform: uppercase;

  &--small {
  	font-weight: 500;
    font-family: 'mr-eaves-sans', sans-serif;
    font-size: 0.9em;
    letter-spacing: 0.02em;
  }
}

.italic {
	font-style: italic;
}

.hidden {
	display: none;
}

.hide {
	opacity: 0;
	animation: fadeOut 1s ease;
}

.show {
	display: flex;
	opacity: 0.9;
	animation: fadeIn 1s ease;
}

.main-outer {
	align-items: center;
	background-image: url('../../assets/images/mobile-bg.png');
	background-size: cover;
  background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
  width: 100%;
}

.nav {
	background: #fee8ff;
	border-radius: 2px;
	box-sizing: border-box;
	filter: drop-shadow(1px 1px 1px gray);
	flex-direction: column;
	font-family: 'jaf-herb', serif;
	justify-content: center;
	padding: 20px 30px;
	position: fixed;
  min-width: 250px;
  z-index: 6;

  &-list {
  	width: 100%;

	  &-item {
	  	align-items: center;
	  	cursor: pointer;
	  	display: flex;
	  	font-size: 1.2em;
	  	height: 80px;
			justify-content: space-between;
			letter-spacing: 0.235em;
			text-transform: uppercase;

	  	img {
	  		filter: drop-shadow(1px 1px 1px gray);
	  	}

	  	&:hover {
	  		font-style: italic;
	  	}
	  }
  }
}

.map-icon {
	align-items: center;
	cursor: pointer;
	display: none;
	filter: drop-shadow(2px 2px 3px grey);
	font-size: 1.5em;
	justify-content: center;
	
	position: absolute;
	z-index: -1;

	&--audio {
		max-width: 50px;
	}
}

#home {
	position: absolute;
	left: 0;
	top: 0;
}

.anchor {
	&-listen {
		img {
			max-width: 50px;
		}
	}

	&-watch {
		img {
			max-width: 55px;
		}
	}

	&-press {
		img {
			max-width: 50px;
			transform: translateX(-5px);
		}
	}

	&-person {
		img {
			max-width: 37px;
			transform: rotate(7deg);
		}
	}

	&-about {
		img {
			max-width: 50px;
		}
	}

	&-ardis {
		img {
			max-width: 50px;
		}
	}
}

.nav-sm-link {
	display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* map icons */
#listen {
  img {
  	max-width: 74px;
  }
}

#watch {
  img {
  	max-width: 85px;
  }
}

#press {
  img {
  	max-width: 65px;
    transform: rotate(7deg);
  }
}

#person {
  img {
  	width: 55px;
    transform: rotate(7deg);
  }
}

#about {
  img {
  	width: 80px;
  }
}

#ardis {
  img {
  	width: 82px;
  }
}

#veritas-in-terra {
	img {
		width: 50px;
	}
}

#vero {
  img {
  	width: 75px;
  }
}

.title {
	text-align: center;
	margin-bottom: 100px;

  img {
  	filter: drop-shadow(2px 2px 2px grey);
  }
}

.grid-outer {
	display: grid;
	height: 3680px;
	position: absolute;
	width: 5280px;
	grid-template-columns: repeat(30, [col] 1fr);
  grid-template-rows: repeat(30, [col] 1fr);
}

.item {
	cursor: pointer;
}

.map {
	display: none;
	height: 0;
	width: 0;
}

#compass {
	display: none;
}

#compass-sm {
	cursor: pointer;
	width: 160px;
}

#item-1 {
	grid-column: 3;
	grid-row: 6;
	height: 30px;
	width: 30px;
	background: red;
}

#item-2 {
	grid-column: 6;
  grid-row: 25;
	height: 30px;
	width: 30px;
	background: yellow;
}

#item-3 {
	grid-column: 20;
	grid-row: 10;
	height: 30px;
	width: 30px;
	background: blue;
}

.img-main {
	size: cover;
	width: 100%;
	position: fixed;
	filter: hue-rotate(220deg) brightness(180%) contrast(100%);
}

.volume {
	align-items: center;
	bottom: 20px;
	cursor: pointer;
	font-size: 1.25em;
	font-weight: 600;
	height: 100px;
	justify-content: center;
	position: fixed;
	right: 20px;
	width: 100px;
	z-index: 3;
	background: -webkit-linear-gradient(left, #DB7093, slateblue, #DB7093, coral, slateblue, coral, #DB7093, slateblue, #DB7093);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu {
	&-close {
		font-family: 'mr-eaves-sans', serif;
    text-align: center;
    font-size: 0.9em;
    filter: none;
    letter-spacing: 0.08em;

    span {
    	cursor: pointer;
	    &:hover {
	    	font-style: italic;
	    	letter-spacing: 0.1em;
	    }
	  }
	}
}

.view {
	border-radius: 5px;
	height: 98.5%;
	width: 99%;

	&-outer {
		background: lavender;
		height: 100%;
	  position: absolute;
	  max-width: 700px;
	  z-index: 2;

	  &.bg-watch {
	  	background: rgba(240, 230, 140, 0.3);
		}
	}

	&-inner {
		overflow: auto;
		padding: 40px;
		width: 100%;
	}

	&-icons {
		display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    &--press {
    	height: 99px;

    	img {
    		width: 70px;
    	}
    }

    &--person {
    	height: 92px;

    	img {
    		width: 60px;
    	}
    }

    &--about {
    	height: 92px;

    	img {
    		width: 70px;
    	}
    }

    &--watch {
    	height: 92px;

    	img {
    		width: 85px;
    	}
    }

    &--ardis {
    	height: 92px;

    	img {
    		width: 85px;
    	}
    }
	}

	&-close {
		cursor: pointer;
		font-size: 1.25em;
    margin: 15px;
    position: fixed;
    right: 0;
	}

	&-content {
		font-size: 1.2em;
		font-weight: 200;
    line-height: 1.4em;

    &--about {
    	a {
				background: -webkit-linear-gradient(left, #DB7093, slateblue, #DB7093, coral, slateblue, coral, #DB7093, slateblue, #DB7093);
			  -webkit-background-clip: text;
			  -webkit-text-fill-color: transparent;
			  font-family: 'mr-eaves-sans', sans-serif;
			  font-weight: 500;

				&:hover {
					font-style: italic;
					letter-spacing: 0.03em;
					text-decoration: none;
				}
			}
    }

    &--dates {
    	font-weight: 400;
    }

    &--ardis {
    	h6 {
    		margin: 30px 0 20px;
    		font-size: 1em;
    		text-decoration: underline;
    	}
    }
	}
}

.press {
	&-list {
		&-item {
			margin-bottom: 10px;

			&--logo {
				margin-bottom: 30px;

				a {
					align-items: start;
					display: flex;
    			justify-content: space-between;

    			img {
						padding-left: 20px;
						max-height: 80px;
						max-width: 100px;
					}
				}
			}

			a {
				background: -webkit-linear-gradient(left, #DB7093, slateblue, #DB7093, coral, slateblue, coral, #DB7093, slateblue, #DB7093);
			  -webkit-background-clip: text;
			  -webkit-text-fill-color: transparent;
			  font-family: 'mr-eaves-sans', sans-serif;
			  font-weight: 500;

			  span {
			  	background: -webkit-linear-gradient(left, #DB7093, slateblue, #DB7093, coral, slateblue, coral, #DB7093, slateblue, #DB7093);
			    -webkit-background-clip: text;
			    -webkit-text-fill-color: transparent;
			    font-family: 'mr-eaves-sans', sans-serif;
			    font-weight: 500;
			  }

			  &:hover {
					font-style: italic;
					letter-spacing: 0.04em;
					text-decoration: none;
				}
			}
		}
	}
}

#press {
	&-tl {

	}

	&-tr {

	}

	&-bl {

	}

	&-br {

	}
}

.dates {
	&-list {
		font-size: 0.85em;
    margin-bottom: 30px;
	}

	&-year {
		margin-bottom: 10px;
		text-decoration: underline;
	}

	&-date {
		padding-right: 30px;
	}
}


.watch {
	&-list {
		display: flex;
    flex-direction: column;
    align-items: center;

    &-item {
    	margin-bottom: 50px;
    }
	}
}

.point {
	font-weight: 400;
}

.credits {
	font-size: 0.6em;
  letter-spacing: 0.01em;
  transform: translateY(40px);
  text-align: right;
  font-family: sans-serif;

  a {
  	color: black;
  	font-size: 0.6em;
	  letter-spacing: 0.01em;
	  transform: translateY(40px);
	  text-decoration: underline;
	  text-align: right;
	  font-family: sans-serif;

	  &:hover {
	  	text-decoration: none;
	  }
  }
}

@media screen and (min-width: $breakpoint-md) {
	.main-outer {
		align-items: center;
		flex-direction: row;
		background-image: none;
	}

	.title {
		cursor: pointer;
		position: fixed;
		top: 20px;
		margin-bottom: 0;
	}

	#compass {
		bottom: 20px;
		cursor: pointer;
		display: block;
		left: 20px;
		position: fixed;
	  width: 125px;
	  z-index: 3;
	}

	#compass-sm {
		display: none;
	}

	.nav {
		bottom: 20px;
		left: 20px;
	}

	.view {
		&-outer {
			height: 98.5%;
			position: fixed;
		}

		&-inner {
			padding: 60px;
		}

		&-close {
			position: absolute;
		}
	}

	.map {
		display: block;
		position: absolute;
		z-index: -5;
	  top: -300px;
	  left: -860px;
	      opacity: 0.95;
	  width: 4277px;
	  height: 3000px;

		&-outer {
			display: flex;
			flex-direction: column;
			position: absolute;
			width: 100;
			z-index: -5;
		}
	}

	.map-icon {
		align-items: center;
		cursor: pointer;
		display: flex;
		filter: drop-shadow(2px 2px 3px grey);
		font-size: 1.5em;
		justify-content: center;
		
		position: absolute;
		z-index: -1;

		&--audio {
			max-width: 50px;
		}
	}
/* map icons */
	#listen {
		left: 2400px;
	  top: 1800px;

	  img {
	  	max-width: 74px;
	  }
	}

	#watch {
		top: 1000px;
	  left: 1500px;

	  img {
	  	max-width: 85px;
	  }
	}

	#press {
		top: 2000px;
	  left: 400px;

	  img {
	  	max-width: 65px;
	    transform: rotate(7deg);
	  }
	}

	#person {
		left: 3000px;
	  top: 760px;

	  img {
	  	max-width: 55px;
	    transform: rotate(7deg);
	  }
	}

	#about {
	  left: 3000px;
	  top: 2400px;

	  img {
	  	width: 72px;
	  }
	}

	#ardis {
	  top: 2300px;
	  left: 1600px;
	}

	#veritas-in-terra {
		left: 2100px;
		top: 1400px;

		img {
			max-width: 50px;
		}
	}

	#veritas-in-terra--2 {
		left: 300px;
  	top: 2300px;

		img {
			max-width: 50px;
		}
	}

	#vero {
		left: 2400px;
	  top: 1000px;

	  img {
	  	width: 75px;
	  }
	}

	#vero--2 {
  	left: 900px;
  	top: 1150px;

  	img {
  		width: 75px;
  	}
  }

	#ugly-ambitious-women {
		top: 1700px;
    left: 1300px;

    img {
    	width: 95px;
    }
	}

	#ugly-ambitious-women--2 {
  	left: 3200px;
  	top: 1500px;

  	img {
  		width: 90px;
  	}
  }

	#i-built-utopia {
		left: 500px;
	  top: 900px;

	  img {
	  	width: 85px;
	  }
	}

	#i-built-utopia--2 {
  	left: 2850px;
  	top: 2000px;

  	img {
  		width: 85px;
  	}
  }

	#lips2lips {
		left: 2300px;
    top: 400px;

		img {
			width: 75px;
		}
	}

	#lips2lips--2 {
		left: 1000px;
  	top: 2000px;

		img {
			width: 75px;
		}
	}

	#doyouremember {
		left: 1000px;

		img {
			width: 100px;
		}
	}

	#doyouremember--2 {
		left: 1800px;
  	top: 2000px;

		img {
			width: 100px;
		}
	}

	#nightbuzzing {
		left: 800px;
		top: 2500px;
    
		img {
			width: 95px;
		}
	}

	#nightbuzzing--2 {
		left: 1650px;
  	top: 500px;

		img {
			width: 95px;
		}
	}

	#lovemagnet {
		left: 2400px;
    top: 2600px;

		img {
			width: 95px;
		}
	}

	#lovemagnet--2 {
		left: 700px;
  	top: 1600px;

		img {
			width: 95px;
		}
	}
}

